.wrapper
  .main-cont
    %form
      .section-one
        %span Section 1
        %p Find out your BMI and help us lean about health/fitness lifestyle by answering couple of questions.
        = button_tag "Start", type: :button, class: 'start-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'
      = succeed "/" do
        %br/
      .section-two.hide
        %span Section 2
        .question
          %p What is your gender?
          %select
            %option{:value => "male"} male
            %option{:value => "female"} female
          %br/
        .question
          %p How old are you?
          %input{:name => "age", :type => "numbers"}
            %br/
          .question
            %p How tall are you??
            %input{:name => "age", :type => "numbers"}
              %input{:name => "age", :type => "numbers"}
                %br/
              .question
                %p How much do you weigh?
                %input{:name => "weight", :type => "numbers"}
                  %br/
                = button_tag 'Previous', type: :button, class: 'q1prev-button'
                = button_tag 'Next', type: :button, class: 'q1next-button'
              %br/
              .section-three.hide
                %span Section 3
                .question
                  %p Question one?
                  %input{:name => "answear", :type => "radio", :value => "aone"}
                    Answear 1
                    %br
                      %input{:name => "answear", :type => "radio", :value => "atwo"}
                        Answear 2
                        %br
                          %input{:name => "answear", :type => "radio", :value => "athree"}
                            Answear 3
                          = button_tag 'Previous', type: :button, class: 'q2prev-button'
                          = button_tag 'Next', type: :button, class: 'q2next-button'
                        .section-four.hide
                          %span Section 4
                          .question
                            %p Last question?
                            %input{:name => "answear", :type => "radio", :value => "aone"}
                              Answear 1
                              %br
                                %input{:name => "answear", :type => "radio", :value => "atwo"}
                                  Answear 2
                                  %br
                                    %input{:name => "answear", :type => "radio", :value => "athree"}
                                      Answear 3
                                    = button_tag 'Previous', type: :button, class: 'q3prev-button'
                                    = button_tag 'Im Done!', type: :submit, class: 'q3next-button'